html
    head
        //- link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
        link(rel='stylesheet', href='./stylesheets/style.css', type='text/css')
        title= title
    body
        table(style={ "border": "1px solid black", "border-collapse": "collapse", "width": "790px"})
            thead
                tr
                    th(colspan="26" style={ "border": "1px solid black", 'font-size': '10px', "color": "#FFF", "background-color": "#000" })
                        div(style={"display": "inline" }) EVOLUÇÃO DO RESULTADO
                        div(style={"display" : "inline", "margin-left": "20px" }) EVOLUÇÃO DO RESULTADO
            tbody
                tr
                    td(colspan="2" style={ "border": "1px solid black"})
                    td(colspan="24" style={ "border": "1px solid black", "text-align": "center", 'font-size': '10px' }) GOLOS
                tr
                    td(colspan="2" style={"border": "1px solid black", "font-size": "11px"}) EQUIPA
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 1º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 2º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 3º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 4º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 5º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 6º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 7º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 8º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 9º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 10º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 11º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 12º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 13º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 14º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 15º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 16º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 17º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 18º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 19º
                    td(style={ "border": "1px solid black", "font-size": "10px", "width": '32px'}) 20º
                tr
                    td(rowspan="2" style={ "border": "1px solid black", "font-size": "11px"}) CASA
                    td(style={ "border": "1px solid black", "font-size": "11px", "height": "21px"}) Nº
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                tr
                    td(style={ "border": "1px solid black", "font-size": "11px", "height": "21px"}) Min.
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                tr
                    td(rowspan="2" style={ "border": "1px solid black", "font-size": "10px"}) FORA
                    td(style={ "border": "1px solid black", "font-size": "10px", "height": "21px"}) Nº
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                tr
                    td(style={ "border": "1px solid black", "font-size": "10px", "height": "21px"}) Min.
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
        table(style={ "border":"1px solid black", "border-collapse":"collapse", "width": "790px" })
            thead
                tr
                    th(colspan="25" style={ "border": "1px solid black", "color": "#FFF", "background-color": "#000" })
                        div(style={ "display": "inline", "font-size": "10px" }) DISCIPLINA
                        div(style={ "display": "inline", "font-size": "10px", "margin-left": "20px" }) DISCIPLINA
                        div(style={ "display": "inline", "font-size": "10px", "margin-left": "20px" }) DISCIPLINA
                        div(style={ "display": "inline", "font-size": "10px", "margin-left": "20px" }) DISCIPLINA
            tbody
                tr
                    td(rowspan="2" style={ "border": "1px solid black", "font-size": "10px"}) CARTÕES
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 1º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 2º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 3º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 4º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 5º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 6º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 7º cartão
                    td(colspan="3" style={ "border": "1px solid black", "font-size": "10px", "text-align": "center" }) 8º cartão
                tr
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Nº
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '32px'}) Min.
                    td(style={ "border": "1px solid black", "font-size": "8px", "width": '22px'}) Cor
                tr
                    td(style={ "border": "1px solid black", "font-size": "11px", "height": "21px"}) CASA
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                tr
                    td(style={ "border": "1px solid black", "font-size": "11px", "height": "21px"}) FORA
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
                    td(style={ "border": "1px solid black"})
        table(style={ "border": "1px solid black", "border-collapse": "collapse", "width": "790px" })
            tr
                th(style={ "border": "1px solid black", "font-size": "10px", "color": "#FFF", "background-color": "#000"}) COMENTÁRIO AO JOGO
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
        table(style={ "border": "1px solid black", "border-collapse": "collapse", "width": "790px" })
            tr
                th(style={ "border": "1px solid black", "font-size": "10px", "color": "#FFF", "background-color": "#000"}) RELATÓRIO DO DELEGADO DA EQUIPA VISITADA
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px", "font-size": "9px"}) 
                    div(style={ "display": "inline" }) NADA A ASSINALAR
                    div(style={ "display": "inline", "margin-left": "3px", "border": "1px solid black", "color": "#FFF" }) AA
                    div(style={ "display": "inline", "margin-left": "3px" }) - ASSINATURA:
        table(style={ "border": "1px solid black", "border-collapse": "collapse", "width": "790px" })
            tr
                th(style={ "border": "1px solid black", "font-size": "10px", "color": "#FFF", "background-color": "#000"}) RELATÓRIO DO DELEGADO DA EQUIPA VISITANTE
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px", "font-size": "9px"})
                    div(style={ "display": "inline" }) NADA A ASSINALAR
                    div(style={ "display": "inline", "margin-left": "3px", "border": "1px solid black", "color": "#FFF" }) AA
                    div(style={ "display": "inline", "margin-left": "3px" }) - ASSINATURA:
        table(style={ "border": "1px solid black", "border-collapse": "collapse", "width": "790px" })
            tr
                th(style={ "border": "1px solid black", "font-size": "10px", "color": "#FFF", "background-color": "#000"}) RELATÓRIO DA MESA
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px" })
            tr
                td(style={ "border": "1px solid black", "height": "18px", "font-size": "9px"})
                    div(style={ "display": "inline" }) NADA A ASSINALAR
                    div(style={ "display": "inline", "margin-left": "3px", "border": "1px solid black", "color": "#FFF" }) AA
                    div(style={ "display": "inline", "margin-left": "3px" }) - ASSINATURA:
        div
            img(src='logo.jpg' style={ 'float': 'left', 'width': '40px' })
            div(style={'display': 'inline', 'float': 'left' })
                div(style={ 'margin-left': '20px', 'font-size': '11px' }) #{step} -- Jornada: ______ Local: ______________________________________________________
                div(style={ 'margin-left': '20px', 'font-size': '11px', 'margin-top': '5px' }) Data e hora: _____/ _____/ ___________ - _____:_____
        div(style={ 'clear': 'both'})
            div(style={ 'height': '2px'})
            div(style={ 'display': 'inline', 'float': 'left' })
                div(style={'height': '360px'})
                    table(style={ 'margin-top': '3px', 'border': '1px solid black', 'border-collapse': 'collapse', 'width': '390px' })
                        thead
                            tr 
                                th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'})= homeTeam
                                th(style={ 'border': '1px solid black', 'text-align': 'center', 'word-wrap': 'break-word', 'width': '12px', 'font-size': '6px' }) Cap. Sub. G.R.
                                th(colspan=8 style={ 'border': '1px solid black', 'font-size': '12px' }) Golos
                                th(colspan=3 style={ 'border': '1px solid black', 'font-size': '11px'}) Cartões
                            tr 
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'width': '20px' }) Nº
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) Nome
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'width': '10px' })
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 1
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 2
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 3
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 4
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 5
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 6
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 7
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 8
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'border-left': '2px' }) A
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) A
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) V
                        tbody
                            each player in homePlayers
                                tr  
                                    td(style={ 'border': '1px solid black' }) 
                                    td(style={ 'border': '1px solid black','font-family': 'Arial, Helvetica, sans-serif', 'font-size': '11px', 'height': '15px' })= player
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px', 'border-left': '2px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                div(style={'width': '390px'})
                    div(style={'display': 'inline', 'float': 'left'})
                        table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                            thead
                                tr
                                    th(style={ 'border': '1px solid black', 'font-size': '9px'}) Função
                                    th(style={ 'border': '1px solid black', 'font-size': '9px'}) Nome
                            tbody
                                each staff in homeStaff1
                                    tr
                                        td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.role
                                        td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.name
                    div(style={'display': 'inline', 'float': 'left'})
                        if homeStaff2.length > 0
                            table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                                thead
                                    tr
                                        th(style={ 'border': '1px solid black', 'font-size': '9px'}) Função
                                        th(style={ 'border': '1px solid black', 'font-size': '9px'}) Nome
                                tbody
                                    each staff in homeStaff2
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.role
                                            td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.name
                div(style={'clear':'both', 'padding-top': '5px'})
                    table(style={'border-collapse': 'collapse', 'float': 'left'})
                        thead
                            tr
                                th(colspan=6 style={ 'font-size': '9px' }) Faltas
                        tbody
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px' }) 1º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 2º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})

                    table(style={'border-collapse': 'collapse', 'float': 'left', 'margin-left': '10px'})
                        thead
                            tr
                                th(colspan=2 style={ 'font-size': '9px' }) Desconto
                        tbody
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 1º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 2º T
                                td(style={ 'border': '1px solid black','width': '20px'})

                div(style={'clear': 'both', 'font-size': '12px', 'margin-top': '5px', 'height': '25px' }) Delegado:

            div(style={ 'display': 'inline', 'float': 'left', 'margin-left': '3px' })
                div(style={'height': '360px'})
                    table(style={ 'margin-top': '3px', 'border': '1px solid black', 'border-collapse': 'collapse', 'width': '390px'})
                        thead
                            tr 
                                th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'})= awayTeam
                                th(style={ 'border': '1px solid black', 'text-align': 'center', 'word-wrap': 'break-word', 'width': '12px', 'font-size': '6px' }) Cap. Sub. G.R.
                                th(colspan=8 style={ 'border': '1px solid black', 'font-size': '12px'}) Golos
                                th(colspan=3 style={ 'border': '1px solid black', 'font-size': '11px'}) Cartões
                            tr 
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'width': '20px' }) Nº
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) Nome
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'width': '10px' })
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 1
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 2
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 3
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 4
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 5
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 6
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 7
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) 8
                                th(style={ 'border': '1px solid black', 'font-size': '9px', 'border-left': '2px' }) A
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) A
                                th(style={ 'border': '1px solid black', 'font-size': '9px' }) V
                        tbody
                            each player in awayPlayers
                                tr  
                                    td(style={ 'border': '1px solid black' }) 
                                    td(style={ 'border': '1px solid black','font-family': 'Arial, Helvetica, sans-serif', 'font-size': '11px', 'height': '15px' })= player
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px', 'border-left': '2px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})
                                    td(style={ 'border': '1px solid black','width': '12px'})

                div(style={'width': '390px'})
                    div(style={'display': 'inline', 'float': 'left'})
                        table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                            thead
                                tr
                                    th(style={ 'border': '1px solid black', 'font-size': '9px'}) Função
                                    th(style={ 'border': '1px solid black', 'font-size': '9px'}) Nome
                            tbody
                                each staff in awayStaff1
                                    tr
                                        td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.role
                                        td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.name
                    div(style={'display': 'inline', 'float': 'left'})
                        if awayStaff2.length > 0
                            table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                                thead
                                    tr
                                        th(style={ 'border': '1px solid black', 'font-size': '9px'}) Função
                                        th(style={ 'border': '1px solid black', 'font-size': '9px'}) Nome
                                tbody
                                    each staff in awayStaff2
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.role
                                            td(style={ 'border': '1px solid black', 'font-size': '8px'})= staff.name
                div(style={'clear':'both', 'padding-top': '5px'})
                    table(style={'border-collapse': 'collapse', 'float': 'left'})
                        thead
                            tr
                                th(colspan=6 style={ 'font-size': '9px' }) Faltas
                        tbody
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 1º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 2º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})
                                td(style={ 'border': '1px solid black','width': '20px'})

                    table(style={'border-collapse': 'collapse', 'float': 'left', 'margin-left': '10px'})
                        thead
                            tr
                                th(colspan=2 style={ 'font-size': '9px' }) Desconto
                        tbody
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 1º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                            tr
                                td(style={ 'border': '1px solid black', 'font-size': '9px'}) 2º T
                                td(style={ 'border': '1px solid black','width': '20px'})
                div(style={'clear': 'both', 'font-size': '12px', 'margin-top': '5px', 'height': '25px' }) Delegado:

        div(style={ 'clear': 'both'})
            div(style={ 'height': '10px'})
            table(style={ 'border': 'none' })
                thead
                    tr
                        th(style={ 'border': 'none', 'font-size': '10px'}) Resultado: 1º Tempo ______/ ______
                        th(style={ 'border': 'none', 'width': '8px'})
                        th(style={ 'border': 'none', 'font-size': '10px'}) Final ______/ ______
                        th(style={ 'border': 'none','width': '8px'})
                        th(style={ 'border': 'none', 'font-size': '10px'}) Mesa:
                        th(style={ 'border': 'none', 'border-bottom': '1px solid black', 'width': '190px'})
                        th(style={ 'border': 'none', 'font-size': '10px', 'padding-left': '8px' }) MVP:
                        th(style={ 'border': 'none', 'border-bottom': '1px solid black','width': '190px'})