html
    head
        //- link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
        link(rel='stylesheet', href='./stylesheets/style.css', type='text/css')
        title= title
    body
        p
            img(src='logo.jpg' style={ 'float': 'left', 'width': '60px' })
            div(style={'display': 'inline', 'float': 'left' })
                div(style={ 'margin-left': '20px', 'font-size': '12px' }) Data e hora: _______________________________________________________________________________________________________
                div(style={ 'margin-left': '20px', 'font-size': '12px', 'margin-top': '10px' }) #{step} -- Jornada: ____
        div(style={ 'clear': 'both'})
            div(style={ 'height': '8px'})
            div(style={ 'display': 'inline', 'float': 'left' })
                table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                    thead
                        tr 
                            th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'})= homeTeam
                            th(style={ 'border': '1px solid black', 'text-align': 'center', 'word-wrap': 'break-word', 'width': '12px', 'font-size': '6px' }) Cap. Sub. G.R.
                            th(colspan=9 style={ 'border': '1px solid black', 'font-size': '12px' }) Golos
                            th(colspan=3 style={ 'border': '1px solid black', 'font-size': '11px'}) Cartões
                        tr 
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) Nº
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) Nome
                            th(style={ 'border': '1px solid black', 'font-size': '8px', 'width': '10px' })
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 1
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 2
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 3
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 4
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 5
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 6
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 7
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 8
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 9
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) A
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) A
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) V
                    tbody
                        each player in homePlayers
                            tr  
                                td(style={ 'border': '1px solid black' }) 
                                td(style={ 'border': '1px solid black', 'font-size': '7px' })= player.person.Name
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                        tr
                            td(colspan=16)
                                table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                                    thead
                                        tr 
                                            th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'}) Equipa Técnica
                                        tr
                                            th(style={ 'border': '1px solid black', 'font-size': '7px'}) Função
                                            th(style={ 'border': '1px solid black', 'font-size': '7px'}) Nome
                                    tbody
                                        each staff in homeStaff
                                            tr
                                                td(style={ 'border': '1px solid black', 'font-size': '6px'})= staff.role.Description
                                                td(style={ 'border': '1px solid black', 'font-size': '6px'})= staff.person.Name
                        tr
                            td(colspan=16)
                                table(style={'border-collapse': 'collapse', 'float': 'left'})
                                    thead
                                        tr
                                            th(colspan=6 style={ 'font-size': '12px' }) Faltas
                                    tbody
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px' }) 1º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px'}) 2º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                table(style={'border-collapse': 'collapse', 'float': 'left', 'margin-left': '30px'})
                                    thead
                                        tr
                                            th(colspan=2 style={ 'font-size': '12px' }) Desconto
                                    tbody
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px'}) 1º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px'}) 2º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                        tr
                            td(colspan=16 style={ 'font-size': '12px' }) Delegado:

            div(style={ 'display': 'inline', 'float': 'left', 'margin-left': '3px' })
                table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                    thead
                        tr 
                            th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'})= awayTeam
                            th(style={ 'border': '1px solid black', 'text-align': 'center', 'word-wrap': 'break-word', 'width': '12px', 'font-size': '6px' }) Cap. Sub. G.R.
                            th(colspan=9 style={ 'border': '1px solid black', 'font-size': '12px'}) Golos
                            th(colspan=3 style={ 'border': '1px solid black', 'font-size': '11px'}) Cartões
                        tr 
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) Nº
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) Nome
                            th(style={ 'border': '1px solid black', 'font-size': '8px', 'width': '10px' })
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 1
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 2
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 3
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 4
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 5
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 6
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 7
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 8
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) 9
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) A
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) A
                            th(style={ 'border': '1px solid black', 'font-size': '8px' }) V
                    tbody
                        each player in awayPlayers
                            tr  
                                td(style={ 'border': '1px solid black' }) 
                                td(style={ 'border': '1px solid black', 'font-size': '7px' })= player.person.Name
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                                td(style={ 'border': '1px solid black','width': '12px'})
                        tr
                            td(colspan=16)
                                table(style={ 'margin-top': '5px', 'border': '1px solid black', 'border-collapse': 'collapse'})
                                    thead
                                        tr 
                                            th(colspan=2 style={ 'border': '1px solid black', 'font-size': '12px'}) Equipa Técnica
                                        tr
                                            th(style={ 'border': '1px solid black', 'font-size': '8px'}) Função
                                            th(style={ 'border': '1px solid black', 'font-size': '8px'}) Nome
                                    tbody
                                        each staff in awayStaff
                                            tr
                                                td(style={ 'border': '1px solid black', 'font-size': '6px'})= staff.role.Description
                                                td(style={ 'border': '1px solid black', 'font-size': '6px'})= staff.person.Name

                        tr
                            td(colspan=16)
                                table(style={'border-collapse': 'collapse', 'float': 'left'})
                                    thead
                                        tr
                                            th(colspan=6 style={ 'font-size': '12px' }) Faltas
                                    tbody
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '12px'}) 1º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '12px'}) 2º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                table(style={'border-collapse': 'collapse', 'float': 'left', 'margin-left': '30px'})
                                    thead
                                        tr
                                            th(colspan=2 style={ 'font-size': '12px' }) Desconto
                                    tbody
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px'}) 1º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                                        tr
                                            td(style={ 'border': '1px solid black', 'font-size': '10px'}) 2º T
                                            td(style={ 'border': '1px solid black','width': '20px'})
                        tr
                            td(colspan=16 style={ 'font-size': '12px' }) Delegado:

        div(style={ 'clear': 'both'})
            div(style={ 'height': '20px'})
            table(style={ 'border': 'none', 'padding-top': '20px'})
                thead
                    tr
                        th(style={ 'border': 'none', 'font-size': '12px'}) Resultado: 1º Tempo _____/ _____
                        th(style={ 'border': 'none', 'width': '20px'})
                        th(style={ 'border': 'none', 'font-size': '12px'}) Final _____/ _____
                        th(style={ 'border': 'none','width': '20px'})
                        th(style={ 'border': 'none', 'font-size': '12px'}) Mesa:
                        th(style={ 'border': 'none', 'border-bottom': '1px solid black', 'width': '245px'})
                        th(style={ 'border': 'none', 'font-size': '12px', 'padding-left': '8px' }) MVP:
                        th(style={ 'border': 'none', 'border-bottom': '1px solid black','width': '245px'})